 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I'm a PhD student at University of North Carolina at Charlotte. My research focuses on secruity unit testing which is to apply <a href="#" onclick="window.open('http://{{ site.links.static }}');" >static</a>/<a href="#" onclick="window.open('http://{{ site.links.dynamic }}');" >dynamic</a> analysis to find security vulnerabilites in web applications. </p>
                </div>
                <div class="col-lg-4">
                    <p> I got my MS in informaition technoglogy in 2013 and my BS in computer engneering in 2001. </p>
                </div>
				<div class="col-lg-4">
                    <p> My research interesets are Software Security, Formal Methods, Data and Security Visualization, IoT Security</p>
                </div>
				
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mahmoud_cv2.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>