<body id="page-top" class="index">
       <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Mahmoud Mohammadi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
					<li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#education">Education</a>
                    </li>
					<li class="page-scroll">
                        <a href="#papers">Papers</a>
                    </li>
					<li class="page-scroll">
                        <a href="#skills">Skills</a>
                    </li>
					<li class="page-scroll">
                        <a href="#talks">Talks</a>
                    </li>
					<li class="page-scroll">
                        <a href="#researchres">Resources</a>
                    </li>
					<li class="page-scroll">
                        <a href="#tools">Tools</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        <!-- Header -->
  <div> <!-- parent -->
  <div style="width:65%; display:inline-block;"> 
   <!-- Header Section -->
    <header class="width100">
        <div>
            <div>
			    
					<div>

						<img class="img-responsive" src="img/profile_def.png" alt="">
						<div class="intro-text">
							<span class="name">Mahmoud Mohammadi</span>
							<hr class="star-light">
							<div class="row">
                
								<p> I'm a PhD student at University of North Carolina at Charlotte. My research focuses on secruity unit testing which is to apply <a href="#" onclick="window.open('http://www.owasp.org/index.php/Static_Code_Analysis');">static</a>/<a href="#" onclick="window.open('http://www.infosecisland.com/blogview/16706-Dynamic-Application-Security-Testing-DAST.html');">dynamic</a> analysis to find security vulnerabilites in web applications. </p>
						   
						   
								<p> I got my MS in informaition technoglogy in 2013 and my BS in computer engneering in 2001. </p>
							
								<p> My research interesets are Software Security, Formal Methods, Data and Security Visualization, IoT Security</p>
							
							
						   
								<a href="mahmoud_cv2.pdf" class="btn btn-lg btn-outline">
									<i class="fa fa-download"></i> Download CV
								</a>
               
							</div>
						</div>
					</div>
  		
          </div> <!-- container -->  
        </div>
    </header>
    
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="width100">
        <div class="container" style="width:65%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/cabin.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/cake.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/circus.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/game.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/submarine.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/safe.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
            </div>
        </div>
    </section>
     <!-- Education Section -->
    <section class=" success" id="education">
        <div class="width100 container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2">
				<ul>
				<li><p>Ph.D. in Computing and Information Systems: Software Security University of North Carolina at Charlotte, NC, USA, Expected 2017</p></li>
				<li><p>M.Sc. in Information Technology Tarbiat Modares University, Tehran, Iran, 2011-2013. Thesis: Network anomaly detection using security alert visualization </p></li>
				<li><p>B.Sc. in Computer Engineering Isfahan University of Technology, Isfahan, Iran, 1996-2001</p></li>				
				</ul>
				</div>
               
                
            </div>
        </div>
    </section>
	 <!-- Papers Section -->
    <section class="success" id="papers">
        <div class="container width100">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Papers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
				<ul>
				<li><p>M. Mohammadi, B. Chu, H.R. Lipford, and E. Murphy-Hill. “Automatic web security unit testing: XSS vulnerability detection. In Proceedings of the 11th International Workshop on Automation of Software Test”, ACM, 2016. </p></li>
				<li><p>M. Mohammadi, B. Chu, and H. R. Lipford, “POSTER : Using Unit Testing to Detect Sanitization Flaws,” in CCS’15: The 22nd ACM SIGSAC Conference on Computer and Communications Security, Denver, USA,2015 </p></li>
				<li><p>M.Sarvi, M.Mohammadi and A. Yazdian, “A fuzzy expert system approach for spam detection", 13th Iranian Conference on Fuzzy Systems (IFSC), August 2013 </p></li>
				
				</ul>
                
                </div>
               
               
            </div>
        </div>
    </section>
	 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container width100">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<h4> Programmaing </h4>					
                    
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://msdn.microsoft.com/en-us/library/z1zx9t92.aspx');">C#</button>  
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://java.oracle.com');">Java</button>	
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://www.python.org');">Python</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://ocaml.org');">OCaml</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://javascript.com');">JavaScript</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://jquery.com');">JQuery</button> 
					
                </div>
				
				<div class="col-lg-4 col-lg-offset-2">
					<h4> Tools </h4>					
                    
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://eclipse.org');">Eclipse </button>  
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://visulastudio.com');">Visual Studio</button>	
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://junit.org');">JUnit</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://hadoop.apache.org');">Hadoop</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://spark.apache.org');">Spark</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://www.microsoft.com/en-us/cloud-platform/sql-server');">SQL Server</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://mysql.com');">MySql</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://www8.hp.com/us/en/software-solutions/application-security/index.html');">HP Fortify</button> 
					
                </div>
               
                
            </div>
        </div>
    </section>
	 <!-- Talks Section -->
    <section class="success" id="talks">
        <div class="container width100">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Talks</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                   <ul>
				<li><p>Security Unit Testing To Detect Injection Attacks, UNC Charlotte Flash Talks (Winner), December 2015 </p></li>
				<li><p>Using Unit Testing To Detect Sanitization Flaws, ACM CCS 2015 Conference, Denver, October 2015</p></li>
				<li><p>Security Unit Testing For Vulnerability Detection, OWASP Charlotte Chapter MeetUp, May 2015</p></li>
			
				</ul>
                </div>
               
            </div>
        </div>
    </section>
	 <!-- Research Resources Section -->
    <section class="success" id="researchres">
        <div class="container width100" style="width:100%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research Resources</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
	 <!-- Software Section -->
    <section class="success" id="tools">
        <div class="container width100">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Software</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
  </div>
  <div style="width:30%; display:inline-block;">
    Right
 </div>
 </div><!-- parent -->
    
        <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>UNC Charlotte</h3>
                        <p>
                            
                                3481 Melrose Place <br>
		                    
                                Beverly Hills, CA 90210 <br>
		                    
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            
                            <li>
                                <a href="https://www.linkedin.com/in/mahmo" class="btn-social btn-outline"><i class="fa fa-fw fa-Linkedin"></i></a>
                            </li>
		                    
                            <li>
                                <a href="http://mahmoodm2.github.io" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
		                    
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Credits</h3>
                        <p>Freelancer is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © Mahmoud Mohammadi 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

     <!-- Portfolio Modals -->
 
    <div class="portfolio-modal modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 1</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 2</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 3</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 4</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 6</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap Mahmoud</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2016</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project 5</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    
    <script src="/js/contact_me_static.js"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

    

    
</body>