 <!-- Education Section -->
    <section class="success" id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
				<ul>
				<li><p>Ph.D. in Computing and Information Systems: Software Security University of North Carolina at Charlotte, NC, USA, Expected 2017</p></li>
				<li><p>M.Sc. in Information Technology Tarbiat Modares University, Tehran, Iran, 2011-2013. Thesis: Network anomaly detection using security alert visualization </p></li>
				<li><p>B.Sc. in Computer Engineering Isfahan University of Technology, Isfahan, Iran, 1996-2001</p></li>				
				</ul>
				</div>
               
                
            </div>
        </div>
    </section>