    <!-- Header -->
	<div class="success" id="about>
    <section class="success" id="#mcontent">
        <div class="container">
            <div class="row">
			    
					<div class="col-lg-6" >
					
						<img class="img-responsive" src="img/profile_def.png" alt="">
					</div>
					<div class="col-lg-6" >
						<div class="intro-text">
							<span class="name">{{ site.title }}</span>							
							<div class="row">
								<div class="col-lg-offset-2">
									<p>  I'm a PhD student at University of North Carolina at Charlotte. My current research area is language-based secruity, focusing on  
									<a href="#" onclick="window.open('http://{{ site.links.static }}');" >static</a> and <a href="#" onclick="window.open('http://{{ site.links.dynamic }}');" >dynamic</a> analysis to find security vulnerabilites in applications. 
									   
									I received my MS in informaition technoglogy in 2013 and my BS in computer engneering in 2001. 
									<br>					
									
					
								</div>
					
								<div class="col-lg-8 col-lg-offset-2 text-center">
									<a href="mahmoud_cv2.pdf" class="btn btn-lg btn-outline">
										<i class="fa fa-download"></i> Download CV
									</a>
								</div>
							</div>
						</div>
                    </div>					
					
				
            </div>
        </div>
    </section>
	<aside id="maside" >
	{% include asides.html %}
	</aside>
	</div>



