    <!-- Header -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
			    
					<div class="col-lg-12" style="width:700px">
					
						<img class="img-responsive" src="img/profile_def.png" alt="">
						<div class="intro-text">
							<span class="name">{{ site.title }}</span>
							<hr class="star-light">
							<div class="row">
								<div class="col-lg-offset-2">
									<p>  I'm a PhD student at University of North Carolina at Charlotte. My current research area is language-based secruity, focusing on  
									<a href="#" onclick="window.open('http://{{ site.links.static }}');" >static</a> and <a href="#" onclick="window.open('http://{{ site.links.dynamic }}');" >dynamic</a> analysis to find security vulnerabilites in applications. 
									   
									I received my MS in informaition technoglogy in 2013 and my BS in computer engneering in 2001. 
									<br>
					
									<p> My research interests span different topics such as:
									<ul>
									<li>Software Security techniques in Software Engineering </li>
									<li>Program Analytics(and Formal Methods) for Security Testing and Verification</li>
									<li> Ranking and Priotizing the Software Security Vulnerabiliteis</li>
									<li> Data and Security Visualization </li>
									<li> Software Security Education and Gamification</li>
									</ul>
									</p>
					
								</div>
					
								<div class="col-lg-8 col-lg-offset-2 text-center">
									<a href="mahmoud_cv2.pdf" class="btn btn-lg btn-outline">
										<i class="fa fa-download"></i> Download CV
									</a>
								</div>
							</div>
						</div>
                    </div>					
					
				
            </div>
        </div>
    </section>



