 <!-- Papers Section -->
    <section class="success" id="papers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Papers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
				<ul>
				<li><p>M. Mohammadi, B. Chu, H.R. Lipford, and E. Murphy-Hill. “Automatic web security unit testing: XSS vulnerability detection. In Proceedings of the 11th International Workshop on Automation of Software Test”, ACM, 2016. </p></li>
				<li><p>M. Mohammadi, B. Chu, and H. R. Lipford, “POSTER : Using Unit Testing to Detect Sanitization Flaws,” in CCS’15: The 22nd ACM SIGSAC Conference on Computer and Communications Security, Denver, USA,2015 </p></li>
				<li><p>M.Sarvi, M.Mohammadi and A. Yazdian, “A fuzzy expert system approach for spam detection", 13th Iranian Conference on Fuzzy Systems (IFSC), August 2013 </p></li>
				
				</ul>
                
                </div>
               
               
            </div>
        </div>
    </section>