 <!-- Research Resources Section -->
    <section class="success" id="researchres">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Research Resources</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> My research interests span different topics such as:
									<ul>
									<li><p>Software Security techniques in Software Engineering </p></li>
									<li><p>Program Analytics(and Formal Methods) for Security Testing and Verification</p></li>
									<li> <p>Ranking and Priotizing the Software Security Vulnerabiliteis</p></li>
									<li> <p>Data and Security Visualization </p></li>
									<li> <p>Software Security Education and Gamification</p></li>
									</ul>
									</p>
                </div>
               
                
            </div>
        </div>
    </section>