 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<h4> Programmaing </h4>					
                    
					  <button type="button" class="btn btn-primary" onclick="window.open('http://{{ site.links.csharp }}');">C#</button>  
					<button type="button" class="btn btn-primary" onclick="window.open('http://{{ site.links.java }}');">Java</button>
					
					<ul>
					<li class="pad-box"><button type="button" class="btn btn-primary " onclick="window.open('http://{{ site.links.python }}');">Python</button> </li>
					<li class="pad-box"><button type="button" class="btn btn-primary " onclick="window.open('http://{{ site.links.ocaml }}');">OCaml</button> </li>
					<li class="pad-box"><button type="button" class="btn btn-primary " onclick="window.open('http://{{ site.links.javascript }}');">JavaScript</button> </li>
					<li class="pad-box"><button type="button" class="btn btn-primary " onclick="window.open('http://{{ site.links.jquery }}');">JQuery</button> </li>
					</ul>
                </div>
               
                
            </div>
        </div>
    </section>