 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<h4> Programmaing </h4>					
                    <ul>
					 <li class="btn pad-box"> <button type="button" class="btn btn-primary" onclick="window.open('http://{{ links.csharp }}');">C#</button>  </li>
					<li class="btn pad-box"><button type="button" class="btn btn-primary" onclick="window.open('http://{{ links.java }}');">Java</button></li> 
					
					</ul>
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ links.python }}');">Python</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ links.ocaml }}');">OCaml</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ links.javascript }}');">JavaScript</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ links.jquery }}');">JQuery</button> 
					
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>