 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<h4> Programmaing </h4>					
                    
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.csharp }}');">C#</button>  
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.java }}');">Java</button>	
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.python }}');">Python</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.ocaml }}');">OCaml</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.javascript }}');">JavaScript</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.jquery }}');">JQuery</button> 
					
                </div>
				
				<div class="col-lg-4 col-lg-offset-2">
					<h4> Tools </h4>					
                    
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.eclipse }}');">Eclipse </button>  
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.vs }}');">Visual Studio</button>	
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.junit }}');">JUnit</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.hadoop }}');">Hadoop</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.spark }}');">Spark</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.sql }}');">SQL Server</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.mysql }}');">MySql</button> 
					<button type="button" class="btn btn-primary pad-box" onclick="window.open('http://{{ site.links.fortify }}');">HP Fortify</button> 
					
                </div>
               
                
            </div>
        </div>
    </section>