 <!-- Talks Section -->
    <section class="success" id="talks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Talks</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2">
                   <ul>
				<li><p>Security Unit Testing To Detect Injection Attacks, UNC Charlotte Flash Talks (Winner), December 2015 </p></li>
				<li><p>Using Unit Testing To Detect Sanitization Flaws, ACM CCS 2015 Conference, Denver, October 2015</p></li>
				<li><p>Security Unit Testing For Vulnerability Detection, OWASP Charlotte Chapter MeetUp, May 2015</p></li>
			
				</ul>
                </div>
               
            </div>
        </div>
    </section>