<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}	
	<section style="width:65%; float:left; padding-top:120px;">
		{% include header.html %}
		{% include portfolio_grid.html %}
		{% include education.html %}
		{% include papers.html %}
		{% include skills.html %}
		{% include talks.html %}
		{% include researchres.html %}
		{% include tools.html %}
	
	</section>
	<aside style="width:30%; float:right; padding-top:170px;">
	{% include asides.html %}
	</aside>
    
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>